* {
  color: floralwhite;
}

.card {
  background-color: darkslategray;
}

.post-header {
  display: flex;
}

.main-img {
  display: block;
  margin: auto;
}

.icons {
  width: 5%;
}

.App {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-around;
}
